.app__switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 1em;
  position: relative;
  width: 40px;
  height: 14px;
  cursor: pointer;
  background-color: var(--primary-bg);
}
.app__switch:checked {
  background-color: var(--primary-bg1);
}
.app__switch::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: 0;
  background-color: var(--tertiary-bg);
  border-radius: 50%;
  transition: all 0.1s;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}
.app__switch:checked:after {
  transform: translateX(100%);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
}

.switchBtn {
  display: flex;
  align-items: center;
}
.switchBtn label {
  margin-left: 10px;
  color: var(--font-color);
}
