.app__switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 1em;
  width: 40px;
  height: 14px;
  cursor: pointer;
  background-color: var(--primary-bg);
}
.app__switch:checked {
  background-color: var(--primary-bg1);
}
.switchBtn {
  display: flex;
  align-items: center;
  position: relative;
}
.switchBtn label {
  margin-left: 10px;
  color: var(--font-color);
}
.switchBtn .switch__thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  background-color: var(--tertiary-bg);
  border-radius: 50%;
  transition: all 0.1s;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.switchBtn .switch__thumb--icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 22px;
}
.switchBtn .app__switch:checked + .switch__thumb {
  transform: translateX(calc(100% + 10px)) translateY(-50%);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
}
