.suggestionbox {
  width: fit-content;
  height: 40px;
  position: absolute;
  border-radius: 4px;
  transition: 0.2s;
  padding-left: 10px;
  padding-right: 10px;
}
.selected {
  background-color: aliceblue;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
